html, body {
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2bb2db+0,2bd6e5+13,77ddae+54,23e0da+92,23e0da+92,23e0da+100 */
    background: #2bb2db; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2bb2db 0%, #2bd6e5 13%, #77ddae 54%, #23e0da 92%, #23e0da 92%, #23e0da 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #2bb2db 0%,#2bd6e5 13%,#77ddae 54%,#23e0da 92%,#23e0da 92%,#23e0da 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #2bb2db 0%,#2bd6e5 13%,#77ddae 54%,#23e0da 92%,#23e0da 92%,#23e0da 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bb2db', endColorstr='#23e0da',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.react-calculator {
    position: relative;
    margin: 0 auto;
    width: 320px;
    background: #292f36;
    box-shadow: 0 19px 38px rgba(19, 19, 19, .24), 
                0 15px 12px rgba(19, 19, 19, .12);
}

button {
    outline: none;
    padding: 16px;
    font-size: 20px;
    line-height: 1;
    background-color: transparent;
    color: #ffce5c;
    transition: all 300ms;
    border: 1px solid #0001;
  }
  
  button:hover {
    background: #00a3f5;
    color: #fff;
    border: 1px solid #ffce5c22;
  }
  
  
  .result {
    position: relative;
    width: 320px;
    height: 80px;
    padding: 8px;
    overflow: hidden;
    background-color: rgba(19, 19, 19, .64);
    font-size: 32px;
    line-height: 2;
    color: #60d63c;
    text-align: right;
    direction: rtl;
    white-space: nowrap;
    box-sizing: border-box;
  }
  
  .functions button, .math-operations button {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #d63c6b
  }
  
  .functions button:hover, 
  .math-operations button:hover {
    color: #fff;
  }
  
  .numbers {
    width: 240px;
    float: left;
  }
  
  .numbers button {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
  }
  
  .numbers button:last-child {
    width: 100%;
  }
  
  .functions {
    float: left;
    width: 240px;
  }
  
